<nb-card>
  <nb-card-body>
    <nb-icon class="grid-ruler-tool" icon="list-outline" pack="eva" (click)="changeShowType('list')"></nb-icon>
    <nb-icon class="grid-ruler-tool" icon="grid-outline" pack="eva" (click)="changeShowType('grid')"></nb-icon>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)" *ngIf="showType=='list'">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{getHeader(customColumn)}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <ngx-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></ngx-fs-icon>
          {{row.data[customColumn]}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{getHeader(column)}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
      </ng-container>

    </table>

    <div *ngIf="showType=='grid'">
      <div class="row show-grid">
        <div class="col-md-3" *ngFor="let item of  getPortfolioList()">
          <div class="portfolio-gallery-item">
            <div class="portfolio-gallery-item-image"></div>
            <div class="portfolio-gallery-item-info">
              <h2>
                {{ item.name }}
              </h2>
              <h3>
                {{ item.offeringName }}
                <span>
                {{ item.amount }}
                </span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  </nb-card-body>
</nb-card>
