@import '../../../@theme/styles/themes';

@include nb-install-component() {

  .grid-ruler {
  }

  .grid-ruler-tools {

  }

  #createPortfolio{
    position: absolute;
    right: 20px;
  }

  .grid-ruler-tool {
    border: 1px solid silver;
    border-radius: 2px;
    margin: 2px;
    height: 25px;
    width: 25px;
  }

  .portfolio-gallery-item {
    background-color: #f1f1f1;
    overflow: auto;
    display: flex;
    height: 70px;
  }

  .portfolio-gallery-item-image {
    width: 100px;
    height: 70px;
    background-image: url('https://www.century21.co.il/assets/new/pics/asset1.jpg');
    background-size: cover;
    background-position: center;
  }
  .portfolio-gallery-item-info {
    flex-grow: 1;
    padding-right: 5px;
    padding-left: 5px;
  }
  .portfolio-gallery-item-info h2 {
    font-size: 17px;
    padding: 0px;
    margin: 0px;
    line-height: 17px;
    position: absolute;
    bottom: 25px;
    font-weight: normal;
  }
  .portfolio-gallery-item-info h3 {
    font-size: 13px;
    line-height: 13px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 5px;
    font-weight: lighter;
  }
  button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }

  .search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }

  .nb-column-name {
    width: 100%;
  }

  ::ng-deep .row-toggle-button {
    color: nb-theme(text-basic-color);
  }

  .nb-tree-grid-header-cell,
  .nb-tree-grid-header-cell button {
    text-transform: capitalize;
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 10%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 20%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }
}
