@import '../../../@theme/styles/themes';

@include nb-install-component() {

  .grid-ruler {
  }

  .grid-ruler-tools {

  }

  .grid-ruler-tool {
    border: 1px solid silver;
    border-radius: 2px;
  }

  .portfolio-gallery-item {
    background-color: #e0e1e5;
    overflow: auto;
  }
  .portfolio-gallery-item:after {
    clear: both;
    content: '';
  }
  .portfolio-gallery-item div:nth-child(1) {
    float: left;
    width: 100px;
    height: 100px;
    background-image: url('https://www.century21.co.il/assets/new/pics/asset1.jpg');
    background-size: cover;
    background-position: center;
  }
  .portfolio-gallery-item div:nth-child(2) {
    float: right;
  }
  button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }

  .search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }

  .nb-column-name {
    width: 100%;
  }

  ::ng-deep .row-toggle-button {
    color: nb-theme(text-basic-color);
  }

  .nb-tree-grid-header-cell,
  .nb-tree-grid-header-cell button {
    text-transform: capitalize;
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 10%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 20%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }
}
