:host ::ng-deep nb-stepper .step-content {
  text-align: center;
  width: 100%;
  padding: 30px;
  button {
    cursor: pointer;
    margin: 0.5rem;
  }

  form {
    display: inline-block;
    text-align: left;
  }

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
    width: 150px;
  }

  .wizard-save-btn {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .wizard-preview-btn {
    position: absolute;
    top: 30px;
    right: 130px;
  }

  .wizard-cancel-btn {
    position: absolute;
    top: 30px;
    right: 230px;
  }

  img {
    width: 200px;
  }

  // quill
  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }


}
