<nb-card size="giant">
  <nb-card-body>
    <nb-stepper orientation="vertical">
      <nb-step label="First step">
        <h4>Basic information #1</h4>
         <div class="input-group wizard-form">
          <form class="form" [formGroup]="portfolioForm" (ngSubmit)="onSubmitStep1()">
            <div>
              <label class="text-label" for="name">Name</label>
              <input nbInput id="name" type="text" formControlName="name">
            </div>
            <div>
              <label class="text-label" for="offeringName">Offering Name</label>
              <input nbInput id="offeringName" type="text" formControlName="offeringName">
            </div>
            <div>
              <label class="text-label" for="customerName">Customer Name</label>
              <input nbInput id="customerName" type="text" formControlName="customerName">
            </div>
            <div>
              <label class="text-label" for="amount">Amount</label>
              <input nbInput id="amount" type="text" formControlName="amount">
            </div>
            <div>
              <label class="text-label" for="priority">Priority</label>
              <input nbInput id="priority" type="text" formControlName="priority">
            </div>
            <div>
              <label class="text-label" for="status">Status</label>
              <input nbInput id="status" type="text" formControlName="status">
            </div>
            <div>
              <label class="text-label" for="location">Location</label>
              <input nbInput id="location" type="text" formControlName="location">
            </div>
          </form>
         </div>
        <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext (click)="onSubmitStep1()">next</button>
        <button nbButton class="wizard-preview-btn" status="basic" (click)="onPreview()">Preview</button>
        <button nbButton class="wizard-save-btn" status="primary" (click)="onSubmitStep1()">Save</button>
      </nb-step>
      <nb-step label="Second step">
        <h4>Gallery #2</h4>
        <form class="form">
          <input type="file"
                 id="formFile"
                 multiple
                 (change)="handleFileInput($any($event).target.files, 'Gallery')">
          <button nbButton status="primary" (click)="onUpload('Gallery')">upload</button>
        </form>
        <br>
        <form [formGroup]="portfolio.form">
          <ng-container formArrayName="uploadedFiles">
            <ng-container *ngFor="let uploadedForm of this.filterUpload(uploadedFilesForm.controls, 'Gallery'); let index = index">
              <div [formGroupName]="index">
                <button nbButton shape="round" size="small" (click)="delete(index,'Gallery')">delete</button>
                <img *ngIf="getCachedImage(uploadedForm.value.id)" [src]="getCachedImage(uploadedForm.value.id)">
              </div>
            </ng-container>
          </ng-container>
        </form>
        <br><br><br><br><br>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
        <button nbButton class="wizard-preview-btn" status="basic" (click)="onPreview()">Preview</button>
        <button nbButton class="wizard-save-btn" status="primary" (click)="onSubmitStep1()">Save</button>
      </nb-step>
      <nb-step label="Third step">
        <h4>Summary #3</h4>
        <quill-editor [ngModel]="getSummaryContent()"
        (onFocus)="focus($event)"
         (onEditorChanged)="changedEditor($event)"
        (onBlur)="blur($event)"
        (onEditorCreated)="created($event)"
        >

        </quill-editor>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
        <button nbButton class="wizard-preview-btn" status="basic" (click)="onPreview()">Preview</button>
        <button nbButton class="wizard-save-btn" status="primary" (click)="onSubmitStep1()">Save</button>
      </nb-step>
      <nb-step label="Fourth step">
        <h4>Documents #4</h4>
        <form class="form">
          <input type="file"
                 id="formFile2"
                 multiple
                 (change)="handleFileInput($any($event).target.files, 'Document')">
          <button nbButton status="primary" (click)="onUpload('Document')">upload</button>
        </form>
        <br>
        <form [formGroup]="portfolio.form">
          <ng-container formArrayName="uploadedFiles">
            <ng-container *ngFor="let uploadedForm of this.filterUpload(uploadedFilesForm.controls, 'Document'); let index = index">
              <div [formGroupName]="index">
                <button nbButton shape="round" size="small" (click)="delete(index, 'Document')">delete</button>
                {{uploadedForm.value.name}}
              </div>
            </ng-container>
          </ng-container>
        </form>
        <br><br><br><br><br>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
        <button nbButton class="wizard-preview-btn" status="basic" (click)="onPreview()">Preview</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
